@font-face {
    font-family: "open sans";
    src: url(../fonts/opensans-condensed-regular.woff);
    font-weight: 400;
}

@font-face {
    font-family: "open sans";
    src: url(../fonts/opensans-condensed-medium.woff);
    font-weight: 500;
}


body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.hero {
    background: url(../image/Bitmap.jpg) 0 0 / cover;
    height:100vh;
}

.container {
    width: 940px;
    height: 100%;
    margin: 0 auto;
}

.header {
    position: absolute;~
    top: 0;
    width: 60%;
}

.header__content {
    padding: 20px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
} 

.hero__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__info {
    width: 500px;
    height: 300px;
    text-align: center;
}

.hero__pre_title {
    color: #FFF;
    font-size: 52px;
    font-weight: 700;
}

.hero__title {
    color: #F7F3F2;
    font-size: 24px;
    font-weight: 300;
    line-height: 24.5px;
    padding: 0 0 20px;
}

.hero__info-btn {
    width: 225px;
    height: 40px;
    border-radius: 40px;
    background: #FF4E50;
    border: none;
}
